<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.DirectorMapper">
	<insert id="register" parameterType="DirectorVO">
		INSERT INTO director(director_id, director_name, intro)
		VALUES(director_seq.nextval, #{directorName}, #{intro})
	</insert>
	<select id="findAllDirectorList" resultType="DirectorVO">
		select director_id, director_name, intro from director 
		order by director_id desc
	</select>
</mapper>