<!DOCTYPE html>
<!--/* 
	thymeleaf layout 설정, layout:decorate에 따라 layout을 전체 틀로 자동적으로 가져온다. 
	templates 하위의 contents html 부분만 호출
	하위 디렉토리는 이에 따라 상관없고, 다만 해당 content 부분 호출시 그 내용이 채워진다는 부분에서 중요
*/-->
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout2}"
>
<head>
<title>main2</title>
<!--/* 
	thymeleaf layout을 이용하므로 body tag는 명시하지 않는다 
	layouts/layout2.html 중 content 부분에 삽입이 된다.
*/-->
<div layout:fragment="content">
	layout2 구조는 일괄적으로 모든 요소가 구성되어있습니다. main2 - <span th:text="${message}">message</span>
	<a href="" th:href="@{/study14-2}">step14-main2</a>
	<script type="text/javascript">
		$(function(){
			alert("step14-main2");
		});
	</script>
</div>