<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>step04-session-param</title>
</head>
<body>
<a href="" th:href="@{/}">Home</a><br>
<!--/*
	session 객체 정보
*/-->
<span th:text="${session.member.name}"></span><br>
<span th:text="${session.member.address}"></span><br>
<!--/*
	href, th:href
*/-->
<a href="/study4-test?id=spring&name=아이유" th:href="@{/study4-test(id=${session.member.id},name=${session.member.name})}">review querystring test</a>
</body>
</html>